NODE_ENV=development
APP_MODE=internal_test
MONGODB_URI=
MONGODB_DB_NAME=molecular_match
API_PORT=4000
CORS_ORIGIN=http://localhost:3000
ADMIN_PASSWORD=
PUBCHEM_BASE_URL=https://pubchem.ncbi.nlm.nih.gov/rest/pug
PUBCHEM_RATE_LIMIT_MS=250
PUBCHEM_DEFAULT_IMPORT_LIMIT=50000
PUBCHEM_SAFE_FREE_TIER_LIMIT=5000
CHEBI_SOURCE_MODE=download
CHEBI_DOWNLOAD_URL=https://ftp.ebi.ac.uk/pub/databases/chebi/Flat_file_tab_delimited/compounds.tsv.gz
HMDB_XML_FILE=./data/hmdb_metabolites.xml
HMDB_ENABLE_IMPORT=true
HMDB_LICENSE_MODE=restricted_commercial_use
DATABASE_REQUIRE_REAL_DATA=true

